<template>
  <main class="w-100 max-w-100">
    <div class="grid w-100">
      <ProductCardPicked :editorsPick="editorsPick" class="product-picked" />
      <ProductCard
        class="product-regular"
        v-for="product in productsGrid"
        :product="product"
      />
    </div>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { EditorsPick, Product } from '@/models/shared.types'
import fetchedProducts from '@/models/products.data'
import { pickedGame } from '@/models/settings'
import ProductCard from '@/components/ProductCard.component.vue'
import ProductCardPicked from '@/components/ProductCardPicked.component.vue'

@Component({
  components: {
    ProductCard,
    ProductCardPicked,
  },
})
export default class GridLayout extends Vue {
  private getProducts = (products: Product[]): Product[] => products
  private getPickedProduct = (pick: EditorsPick): EditorsPick => pick
  private getOtherProducts = (products: Product[], pick: EditorsPick) =>
    products.filter(product => product.id != pick.product.id)

  public get editorsPick() {
    return this.getPickedProduct(pickedGame)
  }

  public get productsGrid() {
    const products: Product[] = this.getProducts(fetchedProducts)
    const pick: EditorsPick = this.editorsPick

    return this.getOtherProducts(products, pick)
  }
}
</script>

<style scoped lang="scss">
@import '../scss/variables';
@import '../scss/mixins';

.grid {
  display: grid;
  grid-gap: $gutter-size;
  grid-template-columns: 1fr;

  @include only-phone {
    grid-template-rows: 200px;
  }

  @include tablet-sm {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
  }

  @include desktop-sm {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }
}

.product {
  max-width: 100%;

  &-picked {
    grid-column: 1 / 2;
    grid-row: 1 / 1;

    @include tablet-sm {
      grid-column: 1 / 4;
    }

    @include desktop-sm {
      grid-column: 1 / 6;
    }
  }

  &-regular {
    background-color: $gray-300;
  }
}
</style>
