<template>
  <div class="badge">
    <button
      v-if="button"
      @click="button"
      class="badge__content badge__button"
      @mouseover="hover.handleMouseOver"
      @mouseout="hover.handleMouseOut"
    >
      <slot>button</slot>
    </button>
    <span
      v-else
      :class="`badge__content badge__tag ${type && `badge__tag_${type}`}`"
    >
      <slot>badge</slot>
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component({
  name: 'Badge',
})
export default class Badge extends Vue {
  @Prop() private button?: string
  @Prop() private type?: string
  @Prop() private hover?: object
}
</script>

<style lang="scss" scoped>
@import '../scss/variables';

.badge {
  display: inline-flex;

  &__content {
    flex: 1;
    background: transparent;
    border: solid 1px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: dotGet($fonts, 'size.small');
    padding: $s-2 $s-3;
    margin: $s-1;
    line-height: 1;
  }

  &__button {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }

  &__tag {
    &_solid {
      background: $primary;
      color: $gray-100;
      border-color: transparent;
    }
  }
}
</style>
