<template>
  <button class="icon-button" @click="handleClick">
    <i :class="`icon icon_${type}`"><span class="sr-only">cart</span></i>
    <span class="icon-button__text">
      <slot>text</slot>
    </span>
  </button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class IconButton extends Vue {
  @Prop() type!: string
  @Prop() handleClick!: string
}
</script>

<style lang="scss" scoped>
@import '../scss/variables';
.icon {
  height: 20px;
  width: 20px;
  &-button {
    background: transparent;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: $s-3;

    &__text {
      margin-left: $s-1;
      font-size: dotGet($fonts, 'size.medium');
      width: 1.5em;

      &:empty {
        display: none;
      }
    }
  }
  &_cart {
    background: url('../assets/icon-cart.png');
  }
}
</style>
