<template>
  <article class="product">
    <div class="product__cover">
      <img
        class="product__cover__img max-w-100"
        :src="product.coverImage"
        :alt="product.title"
      />
    </div>
    <div class="product__content" :class="isOwnedBadge && 'dimmed'">
      <h2 class="product__title mx-3">{{ product.title }}</h2>
      <footer class="d-flex justify-content-end p-2">
        <Badge v-if="product.discount" type="solid">
          - {{ product.discount | percent }}
        </Badge>
        <Badge v-if="isOwnedBadge">owned</Badge>
        <Badge v-else :button="() => handleButtonClick(product)" :hover="hover">
          {{ _buttonText | currency }}
        </Badge>
      </footer>
    </div>
  </article>
</template>

<script lang="ts">
import { currency, percent } from '@/filters/filters'
import { Component, Prop, Vue } from 'vue-property-decorator'
import Badge from '@/components/Badge.component.vue'
import { OwnershipStatus, Product } from '@/models/shared.types'
import { Action } from 'vuex-class'

const buttonText = {
  inCart: 'in cart',
  remove: 'remove',
  buy: 'buy',
  price: (product: Product) => `${product.price}`
};

@Component({
  filters: {
    currency,
    percent,
  },
  components: {
    Badge,
  },
})
export default class ProductCard extends Vue {
  @Prop() private product!: Product
  @Action('addToCart') addToCart!: any
  @Action('removeFromCart') removeFromCart!: any

  private buttonText = ''

  private get productStatus() {
    return this.product.status
  }

  public get isOwnedBadge() {
    return this.productStatus === OwnershipStatus.OWNS
  }

  public handleButtonClick(product: Product) {
    if (this.productStatus === OwnershipStatus.IN_CART) {
      this.removeFromCart({ product })
      this._buttonText = `${product.price}`
    } else {
      this.addToCart({ product })
    }
  }

  public handleMouseOver() {
    if (this.productStatus === OwnershipStatus.IN_CART) {
      this._buttonText = buttonText.remove
    } else {
      this._buttonText = buttonText.buy
    }
  }

  public handleMouseOut() {
    if (this.productStatus === OwnershipStatus.IN_CART) {
      this._buttonText = buttonText.inCart
    } else {
      this._buttonText = buttonText.price(this.product)
    }
  }

  public get _buttonText(): string {
    return this.buttonText
  }

  public set _buttonText(text) {
    this.buttonText = text
  }

  public hover: object = {
    handleMouseOver: this.handleMouseOver,
    handleMouseOut: this.handleMouseOut
  }

  public mounted(){
    const isProductInCart = this.productStatus === OwnershipStatus.IN_CART
    this._buttonText = isProductInCart ? buttonText.inCart : buttonText.price(this.product)
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/variables';
.product {
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: dotGet($fonts, 'size.medium');
    flex: 1;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &:hover {
    .product__cover__img {
      transform: scale(1.1);
    }
  }

  &__cover {
    overflow: hidden;
    &__img {
      transition: transform 0.75s ease-in;
    }
  }
}
</style>
