<template>
  <article class="product">
    <img
      :src="product.coverImage"
      :alt="product.title"
      class="product__thumb"
    />
    <div class="product__details">
      <p class="product__name mt-0 mb-3 w-100">{{ product.title }}</p>
      <button class="btn btn_link" @click="removeFromCart({product})">Remove</button>
    </div>
    <div class="product__price">{{ product.price | currency }}</div>
  </article>
</template>

<script lang="ts">
import { currency } from '@/filters/filters'
import { Product } from '@/models/shared.types'
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Action } from 'vuex-class'

@Component({
  filters: {
    currency,
  },
})
export default class ProductsCartRow extends Vue {
  @Prop() private product!: Product
  @Action('removeFromCart') removeFromCart!: any
}
</script>

<style lang="scss" scoped>
@import '../scss/variables';
.product {
  display: flex;
  padding: $s-3 0;
  overflow: hidden;
  min-height: #{9 * 0.7em};

  & + & {
    border-top: solid 1px $gray-300;
  }

  &__thumb {
    width: #{16 * 0.7em};
    object-fit: cover;
    margin-right: $s-3;
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
  }

  &__details {
    text-transform: uppercase;
    font-size: dotGet($fonts, 'size.medium');
    font-weight: dotGet($fonts, 'weight.semi');
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: $gray-700;
    transform: translateY(1em);
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
  }

  &__name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-left: $s-3;
  }

  &:hover {
    .product__details {
      transform: translateY(0);
    }

    .product__thumb {
      transform: scaleX(0.93);
    }

    .btn_link {
      opacity: 1;
    }
  }
}
.btn_link {
  font-size: dotGet($fonts, 'size.xsmall');
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}
</style>
