<template>
  <aside class="cart">
    <header class="cart__header">
      <div class="d-flex justify-content-sb flex-1">
        <span v-if="usersCart.length">
          {{ usersCart.length }} items in cart
        </span>
        <span v-else class="text-center w-100 my-5 dimmed"
          >Lets buy some new <i class="mx-3">🎮</i>!</span
        >
        <span v-if="total">{{ total | currency }}</span>
      </div>
      <button
        class="ml-3 btn btn_large btn_danger"
        @click="clearCart"
        v-if="usersCart.length"
      >
        clear cart
      </button>
    </header>
    <ProductsCartRow :product="product" v-for="product in usersCart" />
  </aside>
</template>

<script lang="ts">
import { currency } from '@/filters/filters'
import { Component, Vue } from 'vue-property-decorator'
import { Product } from '@/models/shared.types'
import ProductsCartRow from '@/components/ProductsCartRow.component.vue'
import { Action, State } from 'vuex-class'

@Component({
  components: {
    ProductsCartRow,
  },
  filters: {
    currency,
  },
})
export default class ProductsCart extends Vue {
  @State('usersCart') usersCart!: Product[]
  @Action('clearCart') clearCart!: void

  public get total() {
    const prices = this.usersCart.map(product => product.price)
    return prices.reduce((augend, addend) => augend + addend, 0)
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/variables';

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

i {
  font-style: normal;
  font-size: 2em;
  line-height: 0;
  position: relative;
  top: 0.15em;
  animation: 2s ease-in-out infinite fade;
}
.cart {
  display: flex;
  flex-direction: column;
  padding: 0 $s-3;
  z-index: 100;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
    font-size: dotGet($fonts, 'size.medium');
    font-weight: dotGet($fonts, 'weight.bold');
    text-transform: uppercase;
    position: sticky;
    top: 0;
    background: $gray-100;
    padding: $s-3 0;
    border-bottom: solid 1px $gray-300;
    z-index: 100;
  }
}
</style>
