<template>
  <article class="product d-flex flex-column">
    <h1 class="product__title">{{ editorsPick.headerTitle }}</h1>
    <div class="product__cover">
      <img
        class="max-w-100 max-h-100 product__cover__img"
        :src="editorsPick.product.coverImage"
        :alt="editorsPick.product.title"
      />
    </div>
  </article>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { EditorsPick } from '@/models/shared.types'

@Component
export default class ProductCardPicked extends Vue {
  @Prop() private editorsPick!: EditorsPick
}
</script>

<style lang="scss" scoped>
@import '../scss/variables';
.product {
  &__title {
    font-size: dotGet($fonts, 'size.large');
    margin: 0 0 $gutter-size;
  }
  &__cover {
    box-shadow: $card-shadow;
  }
}
</style>
