<template>
  <div>
    <header class="top-bar w-100 h-100 container">
      <ul class="top-bar__list h-100 w-100 p-0 m-0">
        <li class="top-bar__list__item">
          <img src="../assets/logo.png" alt="gog.com" class="logo" />
        </li>
        <li class="top-bar__list__item">
          <IconButton
            type="cart"
            class="top-bar__button"
            :handleClick="handleToggleCart"
            >{{ usersCart.length ? usersCart.length : '' }}</IconButton
          >
        </li>
      </ul>
    </header>
    <div class="container" v-if="isCartOpen">
      <div class="pos-relative">
        <ProductsCart class="products-cart" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { State } from 'vuex-class'

import ProductsCart from '@/components/ProductsCart.component.vue'
import { Product } from '@/models/shared.types'
import IconButton from '@/components/IconButton.component.vue'

@Component({
  components: {
    IconButton,
    ProductsCart,
  },
})
export default class TopBar extends Vue {
  @State('usersCart') usersCart!: Product[]

  private isCartOpen = false

  private get _isCartOpen(): boolean {
    return this.isCartOpen
  }

  private set _isCartOpen(toggle: boolean) {
    this.isCartOpen = toggle
  }

  public handleToggleCart() {
    this._isCartOpen = !this.isCartOpen
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/project-settings';
@import '../scss/variables';

.top-bar {
  background-color: $gray-300;
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &__item {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    border-left-color: $gray-400;
    border-right-color: $gray-400;
    background: $gray-100;
    width: 5.5em;
    display: flex;
    justify-content: center;
  }
}

.products-cart {
  position: absolute;
  width: 100%;
  max-width: 500px;
  max-height: 75vh;
  overflow-y: auto;
  right: 1px;
  box-shadow: 0 7px 10px -3px rgba(0, 0, 0, 0.3);
  background: $gray-100;
}

.logo {
  max-height: 100%;
}
</style>
