<template>
  <div id="gog-app" class="app">
    <TopBar class="app__top-bar" />
    <GridLayout class="container pb-5" headerTitle="Game of the week" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TopBar from '@/components/TopBar.component.vue'
import GridLayout from '@/views/GridLayout.view.vue'

@Component({
  components: {
    TopBar,
    GridLayout,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import './scss/shared.module';
$bg-gradient-color: transparentize($violet-dark, 0.9);
body {
  background-color: $gray-400;
}
.app {
  background-image: linear-gradient(to bottom, $bg-gradient-color, transparent);
  font-family: $font-family;
  font-weight: dotGet($fonts, 'weight.regular');
  font-size: dotGet($fonts, 'size.small');
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

  &__top-bar {
    max-height: $height-nav-bar;
    margin-bottom: #{$gutter-size * 2};
  }
}
</style>
