@import 'variables';

.product {
  &__cover {
    flex: 1;
    display: flex;

    &__img {
      object-fit: cover;
      object-position: center;
      flex: 1;
    }
  }
}

.btn {
  text-transform: uppercase;
  padding: $s-2 $s-3;
  border-radius: 3px;
  background: $gray-300;
  font-weight: dotGet($fonts, 'weight.semi');

  &_large {
    font-size: dotGet($fonts, 'size.medium');
    padding: $s-4 $s-5;
    border-radius: 5px;
  }

  &_danger {
    background: $violet-dark
      linear-gradient(to top, $violet-dark, $violet-light);
    color: white;

    &:hover {
      background: $violet-dark
        linear-gradient(to top, $violet-light, $violet-dark);
    }

    &:active {
      background: $violet-dark
        linear-gradient(
          to top,
          darken($violet-light, 8),
          darken($violet-dark, 8)
        );
    }
  }

  &_link {
    font-size: 1em;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-transform: capitalize;
    background: transparent;
    border: none;
    color: $gray-500;
  }
}
