// namespace style map-get()
@function dotGet($map, $path) {
  $keys: ();
  $separator: '.';
  $index: str-index($path, $separator);

  @while $index != null {
    $item: str-slice($path, 1, $index - 1);
    $keys: append($keys, $item);
    $path: str-slice($path, $index + 1);
    $index: str-index($path, $separator);
  }

  $keys: append($keys, $path);

  @each $key in $keys {
    @if map-has-key($map, $key) {
      $map: map-get($map, $key);
    } @else {
      @warn "Unknown `#{$key}`. Available options: #{map-keys($map)}.";
      @return null;
    }
  }

  @return $map;
}

@function getNestedSetting($map, $setting, $val) {
  @return dotGet($map, $setting + '.' + $val);
}

@function remCalc($size) {
  @return $size / 16px * 1rem;
}
