@import 'variables';

// media queries

@mixin only-phone($max-width: map_get($breakpoints, 'tablet-sm') - 1) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin tablet-sm($min-width: map_get($breakpoints, 'tablet-sm')) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin tablet($min-width: map_get($breakpoints, 'tablet')) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin desktop-sm($min-width: map_get($breakpoints, 'desktop-sm')) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin desktop($min-width: map_get($breakpoints, 'desktop')) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}
