// IMPORTANT: DO NOT IMPORT ANY FILES HERE
// THIS SETTINGS FILE ONLY EXPORTS VALUES

// layout
$height-nav-bar: 56px;
$max-width-content: 1060px;

// fonts
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$font-base-size: 16px;
$line-height: 1.45;

// shadows
$card-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.3);

$btn-shadow: 5px 7px 8px 7px rgba(0, 0, 0, 0.02), 1px 2px 4px 0 rgba(0, 0, 0, 0),
  3px 5px 10px 1px rgba(0, 0, 0, 0.03), 1px 2px 3px 0 rgba(0, 0, 0, 0.05);

$input-shadow: 3px 4px 6px 7px rgba(0, 0, 0, 0.01),
  0 2px 4px 0 rgba(0, 0, 0, 0.05);
