@import 'functions';
@import 'project-settings';

$breakpoints: (
  tablet-sm: 401px,
  tablet: 767px,
  desktop-sm: 992px,
  desktop: 1200px,
);

// colors
$primary: #00905e;
$violet-dark: #7a3dc6;
$violet-light: #b65ae2;
$gray-100: #f7f7f7;
$gray-200: #e2e2e2;
$gray-300: #dedede;
$gray-400: #c2c2c2;
$gray-500: #404040;
$gray-600: #262626;
$gray-700: #212121;
$gray-800: #1a1a1a;

$fonts: (
  weight: (
    regular: 400,
    semi: 600,
    bold: 700,
  ),
  size: (
    default: remCalc($font-base-size),
    xsmall: remCalc(12px),
    small: remCalc(13px),
    medium: remCalc(14px),
    large: remCalc(15px),
  ),
  line-height: (
    '0': 0,
    '1': 1,
    normal: $line-height,
    medium: 1.8,
    large: 2.2,
  ),
);

$gutter-size: 20px;
$spacer: $gutter-size / 2;

$s-0: 0;
$s-1: remCalc($spacer * 0.25);
$s-2: remCalc($spacer * 0.5);
$s-3: remCalc($spacer);
$s-4: remCalc($spacer * 1.5);
$s-5: remCalc($spacer * 3);
$s-auto: auto;

$spacing-sizes: (
  0: 0,
  1: $s-1,
  2: $s-2,
  3: $s-3,
  4: $s-4,
  5: $s-5,
  auto: $s-auto,
);
