@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

@import 'functions';
@import 'variables';
@import 'mixins';

@import 'components';

* {
  box-sizing: border-box;
}

:root {
  font-size: dotGet($fonts, 'size.default');
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: dotGet($fonts, 'weight.bold');
}

// helper classes

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 $s-3;
  > * {
    width: 100%;
    max-width: $max-width-content;
  }
}

.d {
  &-block {
    display: block !important;
  }

  &-inline-block {
    display: inline-block !important;
  }

  &-flex {
    display: flex !important;
  }

  &-none {
    display: none !important;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content {
  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-sa {
    justify-content: space-around;
  }

  &-sb {
    justify-content: space-between;
  }
}

.text-nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.dimmed {
  opacity: 0.6;
}

.pos {
  &-sticky {
    position: sticky;
  }

  &-fixed {
    position: fixed;
  }

  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }
}

.max-w-100 {
  max-width: 100%;
}

.max-h-100 {
  max-height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// size class helpers (ex: .w-100, .h-50)

$size-fraction: 100;
$size-grade: 25;

@while $size-fraction >= $size-grade {
  .h-#{$size-fraction} {
    height: #{$size-fraction * 1%} !important;
  }
  .w-#{$size-fraction} {
    width: #{$size-fraction * 1%} !important;
  }
  $size-fraction: $size-fraction - $size-grade;
}

// margin & padding helpers (ex: .mt-2, .py-4)

@each $size in map-keys($spacing-sizes) {
  $prefixes: m, p;

  $spacings: (
    x: (
      left,
      right,
    ),
    y: (
      top,
      bottom,
    ),
    t: top,
    r: right,
    b: bottom,
    l: left,
    around: null,
  );

  @each $prefix in $prefixes {
    $spacing-property: padding;
    @if $prefix == m {
      $spacing-property: margin;
    }

    .#{$prefix} {
      @each $side in map-keys($spacings) {
        @each $prop-affix in map-get($spacings, $side) {
          @if $side == around {
            &-#{$size} {
              #{$spacing-property}: map-get($spacing-sizes, $size) !important;
            }
          } @else {
            &#{$side}-#{$size} {
              #{$spacing-property}-#{$prop-affix}: map-get(
                $spacing-sizes,
                $size
              ) !important;
            }
          }
        }
      }
    }
  }
}
